<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Dodaj nowy projekt</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Dodaj nowy projekt</h1>
        {% if error %}
        <p class="error-message">{{ error }}</p>
        {% endif %}
        <form method="POST" action="{{ url_for('add_project') }}">
            <label for="symbol">Symbol:</label>
            <input type="text" id="symbol" name="symbol" required>

            <label for="nazwa">Nazwa:</label>
            <input type="text" id="nazwa" name="nazwa" required>

            <label for="id">ID:</label>
            <input type="text" id="id" name="id" required>

            <h2>Istniejące cechy</h2>
            {% for feature in available_features %}
            <label for="{{ feature }}">{{ feature }}:</label>
            <input type="text" id="{{ feature }}" name="{{ feature }}">
            {% endfor %}

            <h2>Nowe cechy</h2>
            <div class="new-feature">
                <label for="new_feature_name_1">Nazwa nowej cechy:</label>
                <input type="text" id="new_feature_name_1" name="new_feature_name">
                <label for="new_feature_value_1">Wartość:</label>
                <input type="text" id="new_feature_value_1" name="new_feature_value">
            </div>
            <div class="new-feature">
                <label for="new_feature_name_2">Nazwa nowej cechy:</label>
                <input type="text" id="new_feature_name_2" name="new_feature_name">
                <label for="new_feature_value_2">Wartość:</label>
                <input type="text" id="new_feature_value_2" name="new_feature_value">
            </div>
            <div class="new-feature">
                <label for="new_feature_name_3">Nazwa nowej cechy:</label>
                <input type="text" id="new_feature_name_3" name="new_feature_name">
                <label for="new_feature_value_3">Wartość:</label>
                <input type="text" id="new_feature_value_3" name="new_feature_value">
            </div>

            <input type="submit" value="Dodaj projekt">
        </form>
        <div class="new-links">
            <a href="{{ url_for('index') }}">Powrót do listy projektów</a>
        </div>
    </div>
</body>
</html>